<a name="comments"></a>
<h4>{{ comments|length }} {% trans %}Comment(s){% endtrans %}</h4>

{% if params.canComment %}
    {{ render( controller( "PvrEzCommentBundle:Comment:getFormComment", {'contentId': contentId })) }}
{% else %}
    <div class="comment-error">Current user doesn't have access to post a comment !</div>
{% endif %}

{% if comments %}
    {% if ezpublish.viewParameters is defined and ezpublish.viewParameters is not empty %}
        {% set sortOrder = ezpublish.viewParameters.cSort ~ "_" ~ ezpublish.viewParameters.cOrder %}
    {% else %}
        {% set sortOrder = "newest_asc" %}
    {% endif %}

    <div class="comments-tools">
        <select id="comments-sort" class="selectSort">
            <option value="newest_desc" {% if sortOrder == "newest_desc" %}selected="selected"{% endif %}>
                {% trans %}Newest DESC{% endtrans %}
            </option>
            <option value="newest_asc" {% if sortOrder == "newest_asc" %}selected="selected"{% endif %}>
                {% trans %}Newest ASC{% endtrans %}
            </option>
            <option value="author_asc" {% if sortOrder == "author_asc" %}selected="selected"{% endif %}>
                {% trans %}Author DESC{% endtrans %}
            </option>
            <option value="author_desc" {% if sortOrder == "author_desc" %}selected="selected"{% endif %}>
                {% trans %}Author ASC{% endtrans %}
            </option>
        </select>
    </div>

    <script type="text/javascript">
        window.full_url = "{{ ezpublish.systemUriString }}";
    </script>

    {# comment.user_id  comment.email comment.title #}
    <ul id="comment-list" class="comment-list">
    {% for comment in comments %}
        <li class="comment" id="comment-{{ comment.id }}" data-date="{{ comment.created }}">
            <div class="comment-role">
                <div class="avatar">
                    <img class="user" alt="Avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;size=48">
                </div>
                <div class="comment-body">
                    <header>
                        <span class="name">{{ comment.name }}</span>
                        <span class="bullet"> • </span>
                        <a href="#" >{{ comment.created|date('d/m/Y') }}</a>
                    </header>
                    <div class="comment-container">
                        {{ comment.text|nl2br }}
                    </div>
                    <footer>{#
                        <menu>
                            <li class="reply">
                                <a href="#">Answer</a>
                            </li>
                            <li class="bullet"> • </li>
                            <li class="share">
                                <a href="#">Share</a>
                            </li>
                        </menu>
                        #}
                    </footer>

                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}
